<!DOCTYPE html>
<html>
    <head>
        <title>Plutos Manager</title>
        <link rel="stylesheet" type="text/css" href="../style/main.css">
        <link rel="stylesheet" type="text/css" href="../style/responsive.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
    <body>
        <header>
            <img src="../img/Logo-header.png" alt="Logo Plutos Manager">
            <nav class="menu-standard">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#" class="border-right">O sistema</a></li>
                <li><button class="acess"><a href="acess.html">Acessar</a></button></li>
            </ul>
            </nav>
            <button class="hamburger-menu" aria-label="Abrir menu"><span class="icon-menu"></span></button>
        </header>
        <main>
            <div class="menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#" class="sistema">O sistema</a></li>
                    <li><button class="acess"><a href="#">Acessar</a></button></li>
                </ul>
            </div> 
            <section class="general"> 
                <section class="container-acess">
                    <div class="acess-account" id="login">
                        <h1>Fazer login</h1>
                        <form action="" class="form" id="loginForm">
                            <div class="form-group">
                                <label for="usuario">Usuario*</label>
                                <input type="text" id="usuario" name="usuario" autocomplete>
                            </div>
                            <div class="form-group">
                                <label for="senha">Senha*</label>
                                <input type="password" id="senha" name="senha" autocomplete>
                                <!-- <a href="#" class="recover-password">Esqueci minha senha</a> -->
                            </div>
                                <button type="submit" class="btn-acess">ACESSAR</button>
                                <span id="error-message" style="color: red; display: none;">Usuário ou senha incorreto<i class="fas fa-times-circle fa-lg"></i></span>
                        </form>
                        </div>
                    <div class="acess-account">
                        <h1>Criar conta</h1>
                        <form action="" class="form">  
                            <h5>Ainda não esta cadastrado?</h5>                          
                                <button type="submit" class="btn-acess"><a href="create-account.html">CADASTRE-SE</a></button>
                        </form>
                    </div>
                </section>
            </section>
        </main>
        <footer>
            <div class="icon-footer">
                <img src="../img/Logo-header.png" alt="Icone do rodapé">
            </div>
            <div class="menu-footer">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">O sistema</a></li>
                    <li><a href="#">Acessar</a></li>
                </ul>      
            </div>
            <div class="contact">
                <h3>Contatos</h3>
                <h5>(17)99178-0150</h4>
                <h5>(17)99178-0150</h4>
                <h5>contato@plutosmanager.com</h4>
            </div>
        </footer>
        <script src="../script/script.js"></script>
    </body>
</html>