<!DOCTYPE html>
<html>
    <head>
        <title>Plutos Manager</title>
        <link rel="stylesheet" type="text/css" href="../style/main.css">
        <link rel="stylesheet" type="text/css" href="../style/responsive.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
    <body>
        <header>
            <img src="../img/Logo-header.png" alt="Logo Plutos Manager">
            <nav class="menu-standard">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#" class="border-right">O sistema</a></li>
                <li><button class="acess"><a href="acess.html">Acessar</a></button></li>
            </ul>
            </nav>
            <button class="hamburger-menu" aria-label="Abrir menu"><span class="icon-menu"></span></button>
        </header>
        <main>
            <div class="menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#" class="sistema">O sistema</a></li>
                    <li><button class="acess"><a href="#">Acessar</a></button></li>
                </ul>
            </div>
            <section class="register-Customer">
                <div class="title-create-account">  
                    <h4>Criar conta</h4>
                </div>
                        <section class="inputs">
                            <div class="container">
                                <form action="#" class="create-account-form">
                                    <div class="input-group">
                                        <label for="email">Email</label>
                                        <input type="text" id="email" name="email" required>
                                    </div>
                                    <div class="input-group">
                                        <label for="nome">Nome</label>
                                        <input type="text" id="nome" name="nome" required>
                                    </div>
                                    <div class="input-group">
                                        <label for="telefone">Telefone</label>
                                        <input type="text" id="telefone" name="telefone" required>
                                    </div>
                                    <div class="input-group">
                                        <label for="documento">Documento  <span id="cpf-hint" class="hint"></span></label>
                                        <input type="text" id="documento" name="documento" required>
                                    </div>
                                    <div class="input-group">
                                        <label for="dataNascimento">Data de Nascimento*</label>
                                        <input type="date" id="dataNascimento" name="dataNascimento" required>
                                    </div>
                                    <div class="cep-number">
                                        <div class="input-cep">
                                            <label for="cep">CEP</label>
                                            <input type="text" id="cep" name="cep" required>
                                        </div>
                                        <div class="input-number">
                                            <label for="numero">Número*</label>
                                            <input type="text" id="numero" name="numero" required>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <label for="cidade">Cidade</label>
                                        <input type="text" id="cidade" name="cidade" required>
                                    </div>
                                </form>
                            </div>
                            <div class="container">
                                <form action="#" class="create-account-form">
                                    <div class="input-group">
                                        <label for="pais">Pais</label>
                                        <input type="text" id="pais" name="pais" required>
                                    </div>
                                    <div class="input-group">
                                        <label for="estado">Estado</label>
                                        <input type="text" id="estado" name="estado" required>
                                    </div>
                                    <div class="input-group">
                                        <label for="rua">Rua</label>
                                        <input type="text" id="rua" name="rua" required>
                                    </div>
                                    <div class="input-group">
                                        <label for="bairro">Bairro</label>
                                        <input type="text" id="bairro" name="bairro" required>
                                    </div>
                                    <div class="input-group">
                                        <label for="usuario">Nome de Usuario*</label>
                                        <input type="text" id="usuario" name="usuario" required>
                                    </div>
                                    <div class="input-group">
                                        <label for="senha">Senha*</label>
                                        <input type="password" id="senha" name="senha" required>
                                    </div>
                                    <div class="input-group">
                                        <label for="repetirSenha">Repetir senha*</label>
                                        <input type="password" id="repetirSenha" name="repetirSenha" required>
                                    </div>
                                    <button type="submit" class="continue">PROSSEGUIR</button>
                                </form>
                            </div>
                      
                </section>
            </section>
        </main>
        <footer>
            <div class="icon-footer">
                <img src="../img/Logo-header.png" alt="Icone do rodapé">
            </div>
            <div class="menu-footer">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">O sistema</a></li>
                    <li><a href="#">Acessar</a></li>
                </ul>      
            </div>
            <div class="contact">
                <h3>Contatos</h3>
                <h5>(17)99178-0150</h4>
                <h5>(17)99178-0150</h4>
                <h5>contato@plutosmanager.com</h4>
            </div>
        </footer>
        <script src="../script/script.js"></script>
    </body>
</html>