 <!DOCTYPE html>
<html>
    <head>
        <title>Plutos Manager</title>
        <link rel="stylesheet" type="text/css" href="../style/main.css">
        <link rel="stylesheet" type="text/css" href="../style/responsive.css">
    </head>
    <body>
        <header>
            <img src="../img/Logo-header.png" alt="Logo Plutos Manager">
            <nav class="menu-standard">
              <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="system.html" class="border-right">O sistema</a></li>
                <li><button class="acess"><a href="acess.html">Acessar</a></button></li>
              </ul>
            </nav>
            <button class="hamburger-menu" aria-label="Abrir menu"><span class="icon-menu"></span></button>
        </header>
        <main>
            <div class="menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="system.html" class="sistema">O sistema</a></li>
                    <li><button class="acess"><a href="acess.html">Acessar</a></button></li>
                </ul>
            </div>  
            <section class="general">    
                <section class="home">
                    <div class="call-to-action">
                        <h1>Gerenciar seus negócios nunca foi tão fácil!</h1>
                        <button class="search-parking"><a href="system-plans-toPresent.html">Conhecer os planos</a></button>
                    </div>
                    <div class="img-home">
                        <img src="../img/ERP_index.png" alt="Imagem de Estacionamento">
                    </div>
                </section>
            </section>
        </main>
        <footer>
            <div class="icon-footer">
                <img src="../img/Logo-header.png" alt="Icone do rodapé">
            </div>
            <div class="menu-footer">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">O sistema</a></li>
                    <li><a href="#">Acessar</a></li>
                </ul>      
            </div>
            <div class="contact">
                <h3>Contatos</h3>
                <h5>(17)99178-0150</h4>
                <h5>(17)99178-0150</h4>
                <h5>contato@plutosmanager.com</h4>
            </div>
        </footer>
        <script src="../script/script.js"></script>
  </body>
</html>