<!DOCTYPE html>
<html>
    <head>
        <title>Plutos Manager</title>
        <link rel="stylesheet" type="text/css" href="../style/main.css">
        <link rel="stylesheet" type="text/css" href="../style/responsive.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    </head>
    <body>
        <header>
            <img src="../img/Logo-header.png" alt="Logo Plutos Manager">
            <p id="usuarioLogado"></p>
            <nav class="menu-standard">
            <ul>
                <li><a href="customer-index.html">Clientes</a></li>
                <li><a href="products-index.html">Produtos</a></li>
                
                <li><a href="category-index.html">Categorias</a></li>
                <li><a href="order-index" class="border-right" >Vendas</a></li>
                <li><button class="exit"><a href="index.html">Sair <i class="fas fa-sign-out-alt"></i></a></button></li>
            </ul>
            </nav>
            <button class="hamburger-menu" aria-label="Abrir menu"><span class="icon-menu"></span></button>
        </header>
        <main>
            <div class="menu">
                <ul>
                    <li><a href="customer-index.html">Clientes</a></li>
                    <li><a href="products-index.html">Produtos</a></li>
                    
                    <li><a href="category-index.html">Categorias</a></li>
                    <li><a href="#">Vendas</a></li>
                    <li><button class="exit"><a href="index.html">Sair <i class="fas fa-sign-out-alt"></i></a></button></li>
                </ul>
            </div>
            <section class="filter">
                <div class="title-Customers">
                    <h2>Categorias</h2>
                </div>
            </section>
            <section class="Reservations">
                <table id="reservationsTable">
                    <thead>
                        <tr>
                            <th class="tittleReservationCheckbox"></th> 
                            <th>Pedido</th>
                            <th class="tittleEditButton"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="reservationCheckbox"><input type="checkbox" class="checkbox" class="checkbox"></td> 
                            <td>Pix</td>
                            <td class="editButton"><button class="editButton"><i class="fa-solid fa-pencil"></i></button></td>
                        </tr>
                        <tr>
                            <td class="reservationCheckbox"><input type="checkbox" class="checkbox"></td> 
                            <td>Debito</td>
                            <td class="editButton"><button class="editButton"><i class="fa-solid fa-pencil"></i></button></td>
                        </tr>
                        <tr>
                            <td class="reservationCheckbox"><input type="checkbox" class="checkbox"></td> 
                            <td>Crédito</td>
                            <td class="editButton"><button class="editButton"><i class="fa-solid fa-pencil"></i></button></td>
                        </tr>
                        <tr>
                            <td class="reservationCheckbox"><input type="checkbox" class="checkbox"></td> 
                            <td>A prazo</td>
                            <td class="editButton"><button class="editButton"><i class="fa-solid fa-pencil"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section class = "btnDelete">
                <button id="btnDelete">
                    <i class="fas fa-trash-alt"></i> Excluir selecionados</button>
            </section>
        </main>
        <footer>
            <div class="icon-footer">
                <img src="../img/Logo-header.png" alt="Icone do rodapé">
            </div>
            <div class="menu-footer">
                <ul>
                    <li><a href="customer-index.html">Clientes</a></li>
                    <li><a href="products-index.html">Produtos</a></li>
                    
                    <li><a href="category-index.html">Categorias</a></li>
                    <li><a href="#">Vendas</a></li>
                    <li><button class="exit"><a href="index.html">Sair <i class="fas fa-sign-out-alt"></i></a></button></li>
                </ul>   
            </div>
            <div class="contact">
                <h3>Contatos</h3>
                <h5>(17)99178-0150</h4>
                <h5>(17)99178-0150</h4>
                <h5>contato@plutosmanager.com</h4>
            </div>
        </footer>
        <script src="../script/script.js"></script>
    </body>
</html>