<!DOCTYPE html>
<html>
    <head>
        <title>Plutos Manager</title>
        <link rel="stylesheet" type="text/css" href="../style/main.css">
        <link rel="stylesheet" type="text/css" href="../style/responsive.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    </head>
    <body>
        <header>
            <img src="../img/Logo-header.png" alt="Logo Plutos Manager">
            <p>Olá, {nome do usuário}</p>
            <nav class="menu-standard">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#" class="sistema">O sistema</a></li>
                <li><a href="#" class="sistema border-right">Reservas</a></li>
                <li><button class="exit"><a href="index.html">Sair <i class="fas fa-sign-out-alt"></i></a></button></li>
            </ul>
            </nav>
            <button class="hamburger-menu" aria-label="Abrir menu"><span class="icon-menu"></span></button>
        </header>
        <main>
            <div class="menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#" class="sistema">O sistema</a></li>
                    <li><a href="#" class="sistema">Reservas</a></li>
                    <li><button class="exit"><a href="index.html">Sair <i class="fas fa-sign-out-alt"></i></a></button></li>
                </ul>
            </div>
            <section class="filter-city">
                <input type="search" placeholder="Digite a cidade desejada">
            </section>
            <section class="parking">
                <div class="container">
                <article class="parking-card">
                    <img src="../img/Parking/parking 1.jpg" alt="parking 1">
                    <h3>Boa viagem</h3>
                    <p>Rua Antonio de Godoy, 471</p>
                    <button><a href="#">RESERVAR</a></button>
                </article>
                <article class="parking-card">
                    <img src="../img/Parking/parking 2.jpg" alt="parking 2">
                    <h3>Boa viagem</h3>
                    <p>Rua Antonio de Godoy, 471</p>
                    <button><a href="#">RESERVAR</a></button>
                </article>
                <article class="parking-card">
                    <img src="../img/Parking/parking 3.jpg" alt="parking 3">
                    <h3>Boa viagem</h3>
                    <p>Rua Antonio de Godoy, 471</p>
                    <button><a href="#">RESERVAR</a></button>
                </article>
                <article class="parking-card">
                    <img src="../img/Parking/parking 4.jpg" alt="parking 4">
                    <h3>Boa viagem</h3>
                    <p>Rua Antonio de Godoy, 471</p>
                    <button><a href="#">RESERVAR</a></button>
                </article>
                <article class="parking-card">
                    <img src="../img/Parking/parking 5.jpg" alt="parking 5">
                    <h3>Boa viagem</h3>
                    <p>Rua Antonio de Godoy, 471</p>
                    <button><a href="#">RESERVAR</a></button>
                </article>
                <article class="parking-card">
                    <img src="../img/Parking/parking 6.jpg" alt="parking 6">
                    <h3>Boa viagem</h3>
                    <p>Rua Antonio de Godoy, 471</p>
                    <button><a href="#">RESERVAR</a></button>
                </article>
                </div>
            </section>
        </main>
        <footer>
            <div class="icon-footer">
                <img src="../img/Logo-header.png" alt="Icone do rodapé">
            </div>
            <div class="menu-footer">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">O sistema</a></li>
                    <li><a href="#">Acessar</a></li>
                </ul>      
            </div>
            <div class="contact">
                <h3>Contatos</h3>
                <h5>(17)99178-0150</h4>
                <h5>(17)99178-0150</h4>
                <h5>contato@plutosmanager.com</h4>
            </div>
        </footer>
        <script src="../script/script.js"></script>
    </body>
</html>