<!DOCTYPE html>
<html>
    <head>
        <title>Plutos Manager</title>
        <link rel="stylesheet" type="text/css" href="../style/main.css">
        <link rel="stylesheet" type="text/css" href="../style/responsive.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    </head>
    <body>
        <header>
            <img src="../img/Logo-header.png" alt="Logo Plutos Manager">
            <p id="usuarioLogado"></p>
            <nav class="menu-standard">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="system.html" class="sistema border-right">O sistema</a></li>
                <li><button class="acess"><a href="acess.html">Acessar</a></button></li>
            </ul>
            </nav>
            <button class="hamburger-menu" aria-label="Abrir menu"><span class="icon-menu"></span></button>
        </header>
        <main>
            <div class="menu">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="system.html" class="sistema">O sistema</a></li>
                    <li><button class="acess"><a href="acess.html">Acessar</a></button></li>
                </ul>
            </div>
            <section class="general">
                <section class="system-instruction">
                    <div class="instruction">
                        <img src="../img/círculos_index/1.png" alt="Plano mensal">
                        <h4>Plano Mensal</h4>
                        <p>
                            Utilize todos os recursos disponiveis por 30 dias pagando.
                        </p>
                        <h4>R$35,00</h4>
                        <button type="submit" class="continue-for-payment"><a href="home.html">PROSSEGUIR</a></button>
                    </div>
                    <div class="instruction">
                        <img src="../img/círculos_index/2.png" alt="Plano anual">
                        <h4>Plano Anual</h4>
                        <p>
                            Utilize todos os recursos disponiveis por 365 dias pagando.
                        </p>
                        <h4>R$299,00</h4>
                        <button type="submit" class="continue-for-payment"><a href="home.html">PROSSEGUIR</a></button>
                    </div>
                </section>
            </section>
        </main>
        <footer>
            <div class="icon-footer">
                <img src="../img/Logo-header.png" alt="Icone do rodapé">
            </div>
            <div class="menu-footer">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="system.html">O sistema</a></li>
                    <li><a href="acess.html">Acessar</a></li>
                </ul>      
            </div>
            <div class="contact">
                <h3>Contatos</h3>
                <h5>(17)99178-0150</h4>
                <h5>(17)99178-0150</h4>
                <h5>contato@plutosmanager.com</h4>
            </div>
        </footer>
        <script src="../script/script.js"></script>
    </body>
</html>