<!DOCTYPE html>
<html>
    <head>
        <title>Plutos Manager</title>
        <link rel="stylesheet" type="text/css" href="../style/main.css">
        <link rel="stylesheet" type="text/css" href="../style/responsive.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    </head>
    <body>
        <header>
            <img src="../img/Logo-header.png" alt="Logo Plutos Manager">
            <p>Olá, {nome do usuário}</p>
            <nav class="menu-standard">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#" class="sistema">O sistema</a></li>
                <li><a href="#" class="sistema border-right">Reservas</a></li>
                <li><button class="acess"><a href="acess.html">Acessar</a></button></li>
            </ul>
            </nav>
            <button class="hamburger-menu" aria-label="Abrir menu"><span class="icon-menu"></span></button>
        </header>
        <main>
            <div class="menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#" class="sistema">O sistema</a></li>
                    <li><a href="#" class="sistema">Reservas</a></li>
                    <li><button class="exit"><a href="index.html">Sair <i class="fas fa-sign-out-alt"></i></a></button></li>
                </ul>
            </div>
            <div class="title">  
                <h1>UTILIZE DE FORMA TOTALMENTE DIGITAL TRANSFORMANDO A MANEIRA COMO VOCÊ ESTACIONA: PARA CLIENTES, PROPRIETÁRIOS E O FUTURO.</h1>
            </div>
            <section class="general">
                <section class="system-instruction">
                    <div  id= "all" class="instruction">
                        <img src="../img/gifs_index/1.gif" alt="Localize">
                        <h4>CLIENTE</h4>
                        <p>
                            Encontre vagas de estacionamento facilmente e garanta a sua conveniência 
                            como nosso sistema inteligentede estacionamento. Poupe tempo e esforço!
                        </p>
                    </div>
                    <div  id= "all" class="instruction">
                        <img src="../img/gifs_index/2.gif" alt="Selecione">
                        <h4>PROPRIETÁRIO</h4>
                        <p>
                            Otimize a gestão do seu estacionamento e melhore a satisfação do cliente 
                            com nosso sistema. Aumente a eficiência operacional!
                        </p>
                    </div>
                    <div id= "all" class="instruction ">
                        <img src="../img/gifs_index/3.gif" alt="Estacione">
                        <h4>Plutos Manager</h4>
                        <p>
                            Nossa missão é revolucionar a experiência do estacioanmento, oferecendo
                            praticidade para clientes e eficiência para proprietários, Junte-se a nós na construção de um futuro mais fluído e tecnológico!
                        </p>
                    </div>
                </section>
            </section>
        </main>
        <footer>
            <div class="icon-footer">
                <img src="../img/Logo-header.png" alt="Icone do rodapé">
            </div>
            <div class="menu-footer">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">O sistema</a></li>
                    <li><a href="#">Acessar</a></li>
                </ul>      
            </div>
            <div class="contact">
                <h3>Contatos</h3>
                <h5>(17)996318375</h4>
                <h5>(17)996318375</h4>
                <h5>estacionafacil@gmail.com</h4>
            </div>
        </footer>
        <script src="../script/script.js"></script>
    </body>
</html>