<!DOCTYPE html>
<html>
    <head>
        <title>Plutos Manager</title>
        <link rel="stylesheet" type="text/css" href="../style/main.css">
        <link rel="stylesheet" type="text/css" href="../style/responsive.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    </head>
    <body>
        <header>
            <img src="../img/Logo-header.png" alt="Logo Plutos Manager">
            <nav class="menu-standard">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="system.html" class="sistema border-right">O sistema</a></li>
                <li><button class="acess"><a href="acess.html">Acessar</a></button></li>
            </ul>
            </nav>
            <button class="hamburger-menu" aria-label="Abrir menu"><span class="icon-menu"></span></button>
        </header>
        <main>
            <div class="menu">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="system.html" class="sistema">O sistema</a></li>
                    <li><button class="acess"><a href="acess.html">Acessar</a></button></li>
                </ul>
            </div>
            <div class="title">  
                <h1>MANTENHA-SE NO CONTROLE DO SEU NEGÓCIO!</h1>
            </div>
            <section class="general">
                <section class="system-instruction">
                    <div class="instruction">
                    <img src="../img/gifs_index/1.gif" alt="Registre suas vendas">
                        <h4>Registre suas vendas</h4>
                        <p>
                            Registre suas vendas de forma fácil e rápida, tenha acesso ao histórico completo 
                            de vendas com registro de data e hora.
                        </p>
                    </div>
                    <div class="instruction">
                        <img src="../img/gifs_index/2.gif" alt="Cadastre os seus clientes">
                        <h4>Cadastre seus clientes </h4>
                        <p>
                            Mantenha um registro organizado dos seus clientes, incluindo informações essenciais 
                            como nome, documento, contato e endereço.
                        </p>
                    </div>
                    <div class="instruction">
                        <img src="../img/gifs_index/3.gif" alt="Controle de inadimplencia">
                        <h4>Controle de inadimplência </h4>
                        <p>
                            Mantenha seus recebimentos em dia, acompanhe saldos devedores e tome medidas proativas para evitar perdas. 
                            Simplifique o gerenciamento das suas finanças!
                        </p>
                    </div>
                </section>
            </section>
        </main>
        <footer>
            <div class="icon-footer">
                <img src="../img/Logo-header.png" alt="Icone do rodapé">
            </div>
            <div class="menu-footer">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="system.html">O sistema</a></li>
                    <li><a href="acess.html">Acessar</a></li>
                </ul>      
            </div>
            <div class="contact">
                <h3>Contatos</h3>
                <h5>(17)99178-0150</h4>
                <h5>(17)99178-0150</h4>
                <h5>contato@plutosmanager.com</h4>
            </div>
        </footer>
        <script src="../script/script.js"></script>
    </body>
</html>