<!DOCTYPE html>
<html>
    <head>
        <title>Plutos Manager</title>
        <link rel="stylesheet" type="text/css" href="../style/main.css">
        <link rel="stylesheet" type="text/css" href="../style/responsive.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    </head>
    <body>
        <header>
            <img src="../img/Logo-header.png" alt="Logo Plutos Manager">
            <p>Olá, {nome do usuário}</p>
            <nav class="menu-standard">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#" class="sistema">O sistema</a></li>
                <li><a href="#" class="sistema border-right">Reservas</a></li>
                <li><button class="exit"><a href="index.html">Sair <i class="fas fa-sign-out-alt"></i></a></button></li>
            </ul>
            </nav>
            <button class="hamburger-menu" aria-label="Abrir menu"><span class="icon-menu"></span></button>
        </header>
        <main>
            <div class="menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#" class="sistema">O sistema</a></li>
                    <li><a href="#" class="sistema">Reservas</a></li>
                    <li><button class="exit"><a href="index.html">Sair <i class="fas fa-sign-out-alt"></i></a></button></li>
                </ul>
            </div>
            <div class="title">  
                <h1>UTILIZE DE FORMA TOTALMENTE DIGITAL É FÁCIL E ÁGIL!</h1>
            </div>
            <section class="general">
                <section class="system-instruction">
                    <div class="instruction">
                        <img src="../img/círculos_index/1.png" alt="Localize">
                        <h4>LOCALIZE</h4>
                        <p>
                            Digite o endereço de destino e descubra os estacionamentos próximos do seu destino
                        </p>
                    </div>
                    <div class="instruction">
                        <img src="../img/círculos_index/2.png" alt="Selecione">
                        <h4>SELECIONE</h4>
                        <p>
                            Veja a localização, distância e preços dos estacionamentos. 
                            Selecione o estacionamento de sua preferência e inicie a sua jornada!
                        </p>
                    </div>
                    <div class="instruction">
                        <img src="../img/círculos_index/3.png" alt="Estacione">
                        <h4>ESTACIONE</h4>
                        <p>
                            Dirija-se tranquilamente ao seu destino. 
                            Chegue onde e quando quiser!
                        </p>
                    </div>
                </section>
            </section>
        </main>
        <footer>
            <div class="icon-footer">
                <img src="../img/Logo-header.png" alt="Icone do rodapé">
            </div>
            <div class="menu-footer">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">O sistema</a></li>
                    <li><a href="#">Acessar</a></li>
                </ul>      
            </div>
            <div class="contact">
                <h3>Contatos</h3>
                <h5>(17)996318375</h4>
                <h5>(17)996318375</h4>
                <h5>estacionafacil@gmail.com</h4>
            </div>
        </footer>
        <script src="../script/script.js"></script>
    </body>
</html>